@use "../Variables.scss" as *;

footer {
  display: flex;
  background-color: $secondary-color2;
  font-family: $markazi;
  height: 100%;
  grid-row: 3/4;

  div {
    display: flex;
    width: 882px;
    margin: 0 auto;
    padding: 2rem 0;
    align-items: flex-start;

    img {
      width: 169px;
      height: 279px;
      object-fit: cover;
      object-position: left center;
      margin-right: 3rem;
    }

    h4 {
      font-family: $karla;
      color: $primary-color1;
      font-size: 1.75rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-right: 3rem;
      width: 200px;

      a {
        text-decoration: none;
      }

      li {
        list-style: none;
      }
    }
  }

  @media screen and (max-width:$small-scrn) {
    & {
      width: 100%;
      padding-left: 2rem;
      div{
        width:100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

        img {
          width: 100px;
          height: 125px;
        }
      }
    }
  }
}
