@use "../Variables.scss" as *;

nav {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: $highlight-color1;

  menu {
    display: flex;
    width: 880px;
    height: 123px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    img {
      height: 70px;
    }

    ul.horizontal {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      gap: 1rem;

      a {
        text-decoration: none;
      }

      button {
        padding: .5rem 1.25rem;
        font-size: 1rem;
      }
    }
  }

  @media screen and (max-width:$small-scrn) {
    & {
      width: 100%;

       menu {
        width: 100%;

        ul.horizontal {
          display: none;
        }
       }
    }
  }
}
