@use "../Variables.scss" as *;

section.testimonies {
  position: relative;
  width: 100%;
  background-color: $primary-color1;
  height: 590px;
  padding: 100px 0;

  .container {
    display: grid;
    grid-template-rows: 100px 300px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    width: 75%;

    .cardHolder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      padding: 0 1rem 3rem;
      width: 100%;
      height: auto;
      .container {
        width: 100%;
        grid-template-rows: 100px 1fr;

        .cardHolder {
          grid-template-columns: 1fr;
          gap:1rem;
        }
      }
    }
  }

  @media screen and (max-width: $med-scrn) and (min-width:768px) {
    & {
        padding: 0 0 3rem 0;
      .container {
        grid-template-rows: 100px 1fr;
        .cardHolder {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        }
      }
    }
  }
}
