@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

//Fonts
$karla: 'Karla';
$markazi: 'Markazi';

//colors
$primary-color1: #495E57;
$primary-color2: #F4CE14;
$secondary-color1: #EE9972;
$secondary-color2: #FBDABB;
$highlight-color1: #EDEFEE;
$highlight-color2: #333333;

//sizes
$small-scrn: 900px;
$med-scrn:1100px;